.product-wrap{width: 100%; max-width: 1440px; margin: 0 auto;}
#back-btn{
    display: flex;
    margin: 20px auto;
    background: #099246;
    color: #fff;
    border:none;
    border-radius: 3px;
    padding: 5px 20px;
}
#image-box{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{height: 100%}
}
#profile-box{
    padding: 16px;
    margin: 8px 0 0 0;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
    }
    .product-seller{
        font-size: 15px;
        margin-left: 8px;
        font-weight: 600;
    }
}
#contents-box{
    padding: 16px;
    #name{
        font-size: 20px;
    }
    #price{
        font-size: 16px;
        font-weight: 600;
    }
    #createAt{
        font-size: 12px;
      color:rgba(204,204,204)
    }
    .payment{
        margin: 16px 8px 16px 0;
    }
    #description{
        margin-top: 16px;
    }
}